<div id="page_wrapper">
  <div id="profile_image">
  
  </div>

  <div id="content">
  	<p>This is a sample blog application for posting new code projects. Made by Chad for BuildRed.co.</p>
  </div>
</div>